* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  } 
  h1{
    font-family: 'Playfair Display', serif;
  }
  nav a{
    color: #ffffff;
    text-decoration: none;
  }
  button{
    color: #ffffff;
    text-transform: uppercase;
  }
  h2, h3{
    text-transform: uppercase;
  }
  .about{
    color: #000000;
  }
  .item_gallery p, .item_about ul li, .item_about p{
    font-style: italic;
  }

@media (min-width:320px) {  
  #home{
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    padding: 0px 15px 0px 15px;
    flex-direction: column;
 }
 .head{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 25px 0px;
 }
 .line{
   width: 100%;
   height: 1px;
   background: rgba(255, 255, 255, 0.685); 
 }
 a:nth-child(2){
   margin-left: auto;
   margin-right: 10px;
 }
 nav{
   display: none;
 }
 .baner{
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   padding: 0px 10px;
 }
 .baner h1{
   font-size: 3.3em;
   margin-top: 80px;
 }
 .baner p{
  font-size: .7em;
  margin-top: 10px;
  padding: 0px 20px;
  line-height: 1.4;
}
.button{
  position: relative;
  margin-top: 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color:#da7074;
  font-size: .8em;
  width: 110px;
  height: 35px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 2;
}
button::after{
  position: absolute;
  content: "";
  display: inline-block;
  width: 220px;
  left: -50%;
  top: 50%;
  height: 1px;
  background-color:#da7074;
  z-index: -1;
}
.baner_lines{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
}
.line_1, .line_2{
  width: 1px;
  height: 80px;
  background-color:#da7074;
}
.line_1{
  margin: 10px 1px 0px 1px;
}
.line_2{
  margin: 15px 1px 0px 1px;
}
.play{
  cursor: pointer;
  margin: 40px 0px 10px 0px;
  background: url("../img/play.png") 16px center no-repeat;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item_gallery{
  position: relative;
  text-align: center;
  color: #ffffff;
}
.item_gallery img{
  width: 100%;
}
.gallery_text_container{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item_about{

  margin-top: 30px;
  flex-basis: 80%;
}
.item_about h2{
  font-family: Montserrat;
  font-size: 1em;
}
.item_about ul{
  font-family: Georgia;
  color:#575757;
  line-height: 1.9em;
  margin-top: 20px;
  list-style: none;
  font-size: .8em;
}
.item_about p{
  color:#575757;
  font-family: Georgia;
  line-height: 1.9em;
  margin-top: 20px;
  font-size: .8em;
}

}
@media (min-width:480px) { 
  
 }
@media (min-width:600px) { 

 }
@media (min-width:801px) { 
  
 }
@media (min-width:1025px) { 
  
 }
@media (min-width:1281px) { 
  
 }