* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  } 
  h1{
    font-family: 'Playfair Display', serif;
  }
  nav a{
    color: #ffffff;
    text-decoration: none;
  }
  button{
    color: #ffffff;
    text-transform: uppercase;
  }
  h2, h3{
    text-transform: uppercase;
  }
  .about{
    color: #000000;
  }
  .item_gallery p, .item_about ul li, .item_about p{
    font-style: italic;
  }

@media (min-width:320px) {  
  #home{
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    font-size: 16px;
    display: flex;
    padding: 0px 15px 0px 15px;
    flex-direction: column;
 }
 .head{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 25px 0px;
 }
 .line{
   width: 100%;
   height: 1px;
   background: rgba(255, 255, 255, 0.685); 
 }
 a:nth-child(2){
   margin-left: auto;
   margin-right: 10px;
 }
 nav{
   display: none;
 }
 .baner{
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .baner h1{
   font-size: 14vw;
   margin-top: 80px;
 }
 .baner p{
  font-size: 3.4vw;
  margin-top: 10px;
  padding: 0px 10%;
  line-height: 1.4;
}
.button{
  position: relative;
  margin-top: 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color:#da7074;
  font-size: .8em;
  width: 110px;
  height: 35px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 2;
  transition: background-color .2s ease;
}
button::after{
  position: absolute;
  content: "";
  display: inline-block;
  width: 220px;
  left: 50%;
  top: 50%;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color:#da7074;
  z-index: -1;
}
.baner_lines{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
}
.line_1, .line_2{
  width: 1px;
  height: 80px;
  background-color:#da7074;
}
.line_1{
  margin: 10px 1px 0px 1px;
}
.line_2{
  margin: 15px 1px 0px 1px;
}
.play{
  cursor: pointer;
  margin: 40px 0px 20px 0px;
  background: url("../img/play.png") 16px center no-repeat;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: .5s ease;
}
.play:hover{
  border: 2px solid #da7074;
  background-color: #da7074;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item_gallery{
  position: relative;
  text-align: center;
  flex-basis: 100%;
}
.item_gallery a{
  color: #ffffff;
  text-decoration: none;
}
.item_gallery a:hover .gallery_text_container{
  font-size: 1.1em;
  transition: .3s ease;
}
.item_gallery img{
  width: 100%;
}
.gallery_text_container{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  transition: .3s ease;
}
.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item_about{
  margin-top: 30px;
  flex-basis: 80%;
}
.item_about h2{
  font-family: Montserrat;
  font-size: 1em;
}
.item_about ul{
  font-family: Georgia;
  line-height: 1.9em;
  margin: 20px 0px;
  list-style: none;
  font-size: .8em;
  cursor: pointer;
}
.item_about ul li{
  color:#575757;
  transition: .7s ease;
}
.item_about ul li:hover{
  color:#181818;
  transition: .7s ease;
}
.item_about p{
  color:#575757;
  font-family: Georgia;
  line-height: 1.9em;
  margin-top: 20px;
  font-size: .8em;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 1);
  height: 96px;
  margin: 20px 0px 0px 0px;
}
footer p{
  color: rgba(255, 255, 255, 0.685);
  font-family: Georgia;
  font-size: 12px;
  font-style: italic;
}
.heartbeat{
  color: #da7074;
  animation: heartbeat 5s ease infinite;
 }

}
@media (min-width:480px) { 
  .baner p{
    font-size: 2.8vw;
    line-height: 1.4;
  }
  button::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 280px;
    left: 50%;
    top: 50%;
    height: 1px;
    transform: translate(-50%, -50%);
    background-color:#da7074;
    z-index: -1;
  }
  .line_1, .line_2{
    height: 18vh;
  }
  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .item_gallery{
    flex-basis: 50%;
  }
  .gallery_text_container{
    padding: 0px 15px;
    font-size: .9em;
  }
  .item_gallery a:hover .gallery_text_container{
    font-size: 1em;
    padding: 0px 5px;
  }
  .about{
    justify-content: space-between;
    padding: 0px 20px;
  }
  .item_about{
    flex-basis: 50%;
  }
 }
@media (min-width:600px) { 

 }
@media (min-width:801px) { 
  
 }
@media (min-width:1025px) { 
  
 }
@media (min-width:1281px) { 
  
 }

 /*Animation*/
@keyframes heartbeat {
  0% {
    transform:scale(1);
    color: #da7074;
  }
  5% {
    transform:scale(1.25);
    color: #f10008;
  }
  20% {
    transform:scale(1);
    color: #da7074;
  }
  30% {
    transform:scale(1);
    color: #da7074;
  }
  35% {
    transform:scale(1.25);
    color: #f10008;
  }
  50% {
    transform:scale(1);
    color: #da7074;
  }
  55% {
    transform:scale(1.25);
    color: #f10008;
  }
  70% {
    transform:scale(1);
    color: #da7074;
  }
}
